
.card {
    position: relative;
    overflow: hidden;
    margin: 0;
    box-shadow: 0px 2px 1px -1px #666;

    background-size: cover;
    background-position: center;

    background-blend-mode: hard-light;
    transition: all 150ms linear;

    &:hover {
        background-color: RGBA(200, 200, 200, .4);
        transition: all 150ms linear;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        padding: $padding-standard;

        // A gradient that fades the bottom half toward a partiall transparent black.
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
        
        @media screen and (min-width: $bp-sm) {
            // Gradient gets less intense when the cards get taller above mobile.
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
            
        }

    }

    &__link {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        
    }

    &__badge {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        padding: 2px 10px;
        background: $color__primary;
        color: $white;
    }

    &__text {
        @include text-shadow-subtle;

        position: absolute;
        bottom: 20px;
        width: calc(100% - #{$padding-standard} * 2);

        color: $white;
        font-size: 14px;

        a {
            @include link-color($white);
        }
    }

    &__title {
        font-size: 27px;
        line-height: 1.05;
        margin-bottom: 5px;

        @media screen and (min-width: $bp-sm) {
            font-size: 32px;
        }

        a {
            @include text-shadow-subtle;
            color: $white;
        }
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .card {
            @include contained-card;

        }
    }

}



.article-list {
    // @include clearfix;
    position: relative;
    overflow: hidden;

    .card__container & {
        @include contained-card;
        height: auto;
        padding-bottom: 50px; // For footer

        border: 1px solid $off-white;
        border-bottom: none;
        box-shadow: 0px 2px 2px -1px #666;

        &__link {
            color: $color__text;
        }
    }

    &__title {
        display: inline-block;
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        margin: 15px 20px;
        padding-bottom: 5px;
        border-bottom: 2px solid $color__primary;
    }

    &__link {
        position: relative;
        display: block;
        padding: 7px 20px;

        font-size: 18px;
        line-height: 1.25;

        &:hover {
            color: $color__primary;
            text-decoration: none;
        }

        &--hascomments {
            padding-right: 50px;
        }
    }

    &__comments-number {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);

        background-color: $color__primary;
        color: white;
        font-size: 12px;
        line-height: 17px;
        text-align: center;

        width: 26px;
        height: 17px;
        border-radius: 2px;

        &::before {
            content: "";
            position: absolute;
            left: 6px;
            bottom: -7px;
            height: 8px;
            width: 6px;

            border-top: 6px solid $color__primary;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
    }

    &__more {
        position: relative;
        font-size: 18px;
        padding-right: 22px;

        &:hover {
            text-decoration: none;

            &::after {
                @include animation;
                right: -5px;

            }
        }

        &::after {
            @include animation;
            content: "\e\2192";
            position: absolute;
            right: 0;
            margin-top: 2px;

        }
    }

    // Support for built-in widgets
    .widget {

        padding: 0px 20px;

        ul {
            @include unlist;
        }

    }

    .widget-title {
        @extend .article-list__title;
        margin-left: 0;
        margin-right: 0;
    }


}

#wp-calendar {
    tbody {
        td {
            text-align: center;
        }
    }
}
