// @import "content-sidebar";
// @import "sidebar-content";

body {
    background-color: $color__background-screen;
}

.site {
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0;
    background-color: $color__background-screen;

    @media screen and (min-width: $bp-sm) {
        padding: 0 $padding-standard;
    }

    @media screen and (min-width: $site-max-width + ($padding-standard * 4) ) {
        padding: 0;
    }
}

.site-content {
    @include block-padding;

    background-color: $color__background-body;


}

.post-sidebar {
    display: none;

    @media screen and (min-width: 1260px) {
        float: right;
        display: block;
        width: 250px;

        .card {
            height: 250px;
            margin-bottom: 20px;

            &__title {
                font-size: 24px;
                margin: 0;
            }

            &__author {
                display: none;
            }
        }
    }
    
}

.site-main { //#main
    @include max-auto;

    .single & {

        @media screen and (min-width: 1260px) {
            float: left;
        }
        
    }
}

.content-area { //#primary
    margin-bottom: 60px;
    overflow: auto;

}

#secondary {
    body:not(.page-template-full-width-page) & {
        @include max-auto;
    }
}

.widget-area { // overlaps with #secondary

    ul {
        @include unlist;
        margin: 0;
    }
    
}

.site-footer {
    @include block-padding;
    width: 100%;

    background-color: $color__background-inverse;
    color: $off-white;
    
    .site-info {
        text-align: center;
    }
}

.footer-widget-area {
    @include clearfix;
    width: 100%;
    margin-bottom: 30px;

    .widget-area {
        float: left;
        width: 50%;
    }
}

.site-branding {
    position: relative;
    height: $header-height-sm;
    overflow: hidden;

    background-color: $color__background-body;

    &--banner {
        background-size: cover;
        background-position: 50%;

        .site-title,
        .site-description {
            display: none;
        }
    }

    @media screen and (min-width: $bp-md) {

        height: $header-height-md;
    }
}

.site-logo {
    @include block-padding ( true );
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
}

.site-title {
    @include block-padding ( true );
    margin: 0;
    line-height: $header-height-sm;

    @media screen and (min-width: $bp-md) {

        line-height: $header-height-md;
    }
}
.site-description {
    @include block-padding ( true );
    margin-top: 5px;
    margin-bottom: 0;
}

.site-navigation {

}
