input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	// color: $color__text-input;
	// border: 1px solid $color__border-input;
	// border-radius: 3px;

	// &:focus {
	// 	color: $color__text-input-focus;
	// }
    height: $input-height;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px 5px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

//


.search-form {
    padding: 0px 15px;
    position: relative;
    line-height: $menu-item-height;

    .main-navigation & {
        
        width: 100%;
        @media screen and (min-width: $bp-menu) {

            width: initial;
            float: right;
        }
    }
}

.search-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-color: $color__text-input;

    &:focus {
        border-color: $color__primary;
    }

    .main-navigation & {
        border-color: $white;
        background-color: $color__primary;

        color: $white;

        &::-webkit-input-placeholder {
            color: $color__primary-light;
        }
    }

}

.search-submit {
    @include button-reset;
    position: absolute;
    height: $menu-item-height;
    right: 10px;
    top: 0;

    color: $color__text-input;
    font-size: 26px;
    .main-navigation & {
        color: $white;
    }
    
}