.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;

	ul {
		// display: none;


		list-style: none;
		// margin: 0;
		// padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}



// @media screen and (min-width: $bp-sm) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

    .nav-previous, .nav-next {
        display: none;

        @media screen and (min-width: $bp-sm ) {
            display: block;
            width: 40%;

            a {
                font-size: 20px;
            }
        }
        

    }

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}

//


.main-navigation {
    background-color: $color__primary;
    max-height: 0;
    overflow: hidden;

    &.toggled {
        max-height: 800px;
        transition: all 350ms linear;
    }

    @media screen and (min-width: $bp-sm) {
            max-height: initial;
        }
}


.nav-menu {
    @include unlist;
    
    overflow: auto; // pseudo clearfix;

    @media screen and (min-width: $bp-sm) {
        @include block-padding( true ); //padding on just the sides
    }
}

.menu-item {

    @media screen and (min-width: $bp-sm) {
        float: left;
    }

    a {
        display: inline-block;
        width: 100%;
        height: $menu-item-height;
        padding: 0px 15px;

        font-size: 18px;
        line-height: $menu-item-height;
        color: $white;

        &:hover {
            background-color: $color__primary-light;
            text-decoration: none;
        }

    }

}

.menu-toggle {
    @include button-reset;
    outline: none;

    float: right;
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;
    width: 50px;
    height: $header-height-sm;
    text-indent: -9999px;
    

    @media screen and (min-width: $bp-sm) {
        display: none;
    }

    &::after, &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.55em;
        margin-left: -0.8em;
        width: 1.35em;
        height: 0.25em;
        background: $color__primary;
        box-shadow: 0 0.5em 0 0 $color__primary, 0 1em 0 0 $color__primary;

        @at-root .menu-toggle[aria-expanded="true"]::after {
            box-shadow: none;
            transform: rotate(45deg);
            top: 62%;
            width: 1.5em;
        }
        @at-root .menu-toggle[aria-expanded="true"]::before {
            box-shadow: none;
            transform: rotate(-45deg);
            top: 62%;
            width: 1.5em;
        }
    }
}

